includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # The level 8 is the highest level
    level: 8

    paths:
        - src

    parallel:
        processTimeout: 300.0

    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false